# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\martin\Desktop\CPOA\tp4moi\cpoa-tp4-gotsuuu\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
